<a href="https://colab.research.google.com/github/shahfaissal/EDA-on-IMDB-data/blob/main/FInal_EDA_on_IMDB_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## You have been hired by a rookie movie producer to help him decide what type of movies to produce and which actors to cast. You have to back your recommendations based on thorough analysis of the data he shared with you which has the list of 3000 movies and the corresponding details.

## As a data scientist, you have to first explore the data and check its sanity.

## Further, you have to answer the following questions:
1. ### <b> Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.</b>
2. ### <b>This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)? </b>
3. ### <b> Find out the unique genres of movies in this dataset.</b>
4. ### <b> Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI? </b>
5. ### <b> Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor. </b>
6. ### <b>Top 3 directors prefer which actors the most? </b>

# Data Exploration

In [1]:
#Import package
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
imdb = pd.read_csv("/content/drive/MyDrive/Copy of imdb_data.csv")

# Know Your data!

In [4]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB

In [5]:
imdb.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [6]:
imdb.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [7]:
imdb.tail()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
2995,2996,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0109403,en,Chasers,Military men Rock Reilly and Eddie Devane are ...,9.853270,...,4/22/94,102.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was supposed to be a routine prisoner trans...,Chasers,"[{'id': 378, 'name': 'prison'}, {'id': 572, 'n...","[{'cast_id': 2, 'character': 'Rock Reilly', 'c...","[{'credit_id': '52fe4494c3a368484e02ac7d', 'de...",1596687
2996,2997,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10402, 'n...",NaN,tt2364975,sv,Vi är bäst!,Three girls in 1980s Stockholm decide to form ...,3.727996,...,3/28/13,102.0,"[{'iso_639_1': 'sv', 'name': 'svenska'}]",Released,NaN,We Are the Best!,"[{'id': 1192, 'name': 'sweden'}, {'id': 4470, ...","[{'cast_id': 5, 'character': 'Bobo', 'credit_i...","[{'credit_id': '5716b72ac3a3686678012c84', 'de...",180590
2997,2998,NaN,65000000,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",NaN,tt0116908,en,The Long Kiss Goodnight,"Samantha Caine, suburban homemaker, is the ide...",14.482345,...,10/11/96,120.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What's forgotten is not always gone.,The Long Kiss Goodnight,"[{'id': 441, 'name': 'assassination'}, {'id': ...","[{'cast_id': 10, 'character': 'Samantha Caine ...","[{'credit_id': '52fe443a9251416c7502d579', 'de...",89456761
2998,2999,NaN,42000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",http://www.alongcamepolly.com/,tt0343135,en,Along Came Polly,Reuben Feffer is a guy who's spent his entire ...,15.725542,...,1/16/04,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"For the most cautious man on Earth, life is ab...",Along Came Polly,"[{'id': 966, 'name': 'beach'}, {'id': 2676, 'n...","[{'cast_id': 8, 'character': 'Reuben Feffer', ...","[{'credit_id': '556f817b9251410866000a63', 'de...",171963386
2999,3000,NaN,35000000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",http://www.abductionthefilm.com/,tt1600195,en,Abduction,A young man sets out to uncover the truth abou...,10.512109,...,9/22/11,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They stole his life. He's taking it back.,Abduction,"[{'id': 591, 'name': 'cia'}, {'id': 822, 'name...","[{'cast_id': 2, 'character': 'Nathan Harper', ...","[{'credit_id': '5391990d0e0a260fb5001629', 'de...",82087155

In [8]:
#Statitical aspect of the dataframe
imdb.describe()

                id        budget   popularity      runtime       revenue
count  3000.000000  3.000000e+03  3000.000000  2998.000000  3.000000e+03
mean   1500.500000  2.253133e+07     8.463274   107.856571  6.672585e+07
std     866.169729  3.702609e+07    12.104000    22.086434  1.375323e+08
min       1.000000  0.000000e+00     0.000001     0.000000  1.000000e+00
25%     750.750000  0.000000e+00     4.018053    94.000000  2.379808e+06
50%    1500.500000  8.000000e+06     7.374861   104.000000  1.680707e+07
75%    2250.250000  2.900000e+07    10.890983   118.000000  6.891920e+07
max    3000.000000  3.800000e+08   294.337037   338.000000  1.519558e+09

In [9]:
#Null value count in percentage
imdb.isnull().sum().sort_index(ascending=True)
percent_missing = imdb.isnull().sum() * 100 / len(imdb)
percent_missing

id                        0.000000
belongs_to_collection    79.866667
budget                    0.000000
genres                    0.233333
homepage                 68.466667
imdb_id                   0.000000
original_language         0.000000
original_title            0.000000
overview                  0.266667
popularity                0.000000
poster_path               0.033333
production_companies      5.200000
production_countries      1.833333
release_date              0.000000
runtime                   0.066667
spoken_languages          0.666667
status                    0.000000
tagline                  19.900000
title                     0.000000
Keywords                  9.200000
cast                      0.433333
crew                      0.533333
revenue                   0.000000
dtype: float64

In [10]:
#filling all the null values with empty list in string of dicts
imdb['genres'].fillna('[]',inplace=True)
imdb['cast'].fillna('[]',inplace=True)
imdb['crew'].fillna('[]',inplace=True)

In [11]:
#function to convert string to list
def string_to_list(str):
  return eval(str)

In [12]:
#applying function to convert string to list
imdb['genres'] = imdb['genres'].apply(string_to_list)
imdb['cast'] = imdb['cast'].apply(string_to_list)
imdb['crew'] = imdb['crew'].apply(string_to_list)

In [13]:
#creating a copy
imdb_df = imdb.copy()

In [14]:
#replace extremly low value of budget with median
imdb_df.loc[imdb_df['budget']<1000,'budget'] = imdb_df.loc[imdb_df['budget']>=1000,'budget'].median()
imdb_df.loc[imdb_df['revenue']<1000,'revenue'] = imdb_df.loc[imdb_df['revenue']>=1000,'revenue'].median()

In [15]:
imdb_df.describe()

                id        budget   popularity      runtime       revenue
count  3000.000000  3.000000e+03  3000.000000  2998.000000  3.000000e+03
mean   1500.500000  2.708250e+07     8.463274   107.856571  6.705811e+07
std     866.169729  3.492773e+07    12.104000    22.086434  1.373917e+08
min       1.000000  2.500000e+03     0.000001     0.000000  1.404000e+03
25%     750.750000  1.000000e+07     4.018053    94.000000  2.947600e+06
50%    1500.500000  1.645000e+07     7.374861   104.000000  1.748753e+07
75%    2250.250000  2.900000e+07    10.890983   118.000000  6.891920e+07
max    3000.000000  3.800000e+08   294.337037   338.000000  1.519558e+09

# 1.Which movie made the highest profit? Who were its producer and director? Identify the actors in that film

* profit can be calculated as the difference between revenue and budget

In [16]:
#creating profit column for movies 
imdb_df['profit']=imdb_df['revenue'] - imdb_df['budget']

In [17]:
#movie with highest profit
highest_id = imdb_df['profit'].argmax()
max_profit = imdb_df['profit'].max()

print(f"the movie with highest profit i.e Rs {max_profit} is {imdb['original_title'][highest_id]}")

the movie with highest profit i.e Rs 1316249360 is Furious 7

In [18]:
# function to extract directors and producers
def extract(crew):
  try:
    director_list = []
    producer_list = []
    for i in crew:
      if i['job']=='Producer':
        producer_list.append(i['name'])
      if i['job']=='Director':
        director_list.append(i['name'])
    return director_list,producer_list
  except:
    return [],[]

In [19]:
# lamda function applied on crew column to extract directors and producers
imdb_df['directors_and_producers'] = imdb_df.apply(lambda x:extract(x['crew']),axis = 1)

In [20]:
imdb_df['directors_and_producers']

0                          ([Steve Pink], [Andrew Panay])
1       ([Garry Marshall], [Whitney Houston, Mario Isc...
2       ([Damien Chazelle], [David Lancaster, Michel L...
3                          ([Sujoy Ghosh], [Sujoy Ghosh])
4                                  ([Jong-seok Yoon], [])
                              ...
2995               ([Dennis Hopper], [James G. Robinson])
2996                 ([Lukas Moodysson], [Lars J√∂nsson])
2997    ([Renny Harlin], [Stephanie Austin, Shane Blac...
2998    ([John Hamburg], [Danny DeVito, Michael Shambe...
2999    ([John Singleton], [Doug Davison, Roy Lee, Ell...
Name: directors_and_producers, Length: 3000, dtype: object

In [21]:
#directors and producers of highest profit movie
director_and_producers = imdb_df['directors_and_producers'][highest_id]
print(director_and_producers)

(['James Wan'], ['Vin Diesel', 'Neal H. Moritz', 'Michael Fottrell', 'Brandon Birtell'])

In [22]:
#function for actors of highest profit movie
def actors(cast):
  actors_list = []
  for i in cast:
    actors_list.append(i['name'])
  return actors_list

In [23]:
#actors of highest profit movie
imdb_df['actors'] = imdb_df.apply(lambda x:actors(x['cast']),axis=1)
actors_highest_profit_movie = imdb_df['actors'][highest_id]
print((actors_highest_profit_movie))

['Vin Diesel', 'Paul Walker', 'Dwayne Johnson', 'Michelle Rodriguez', 'Tyrese Gibson', 'Ludacris', 'Jordana Brewster', 'Djimon Hounsou', 'Tony Jaa', 'Ronda Rousey', 'Nathalie Emmanuel', 'Kurt Russell', 'Jason Statham', 'Sung Kang', 'Gal Gadot', 'Lucas Black', 'Elsa Pataky', 'Noel Gugliemi', 'John Brotherton', 'Luke Evans', 'Ali Fazal', 'Miller Kimsey', 'Charlie Kimsey', 'Eden Estrella', 'Gentry White', 'Iggy Azalea', 'Jon Lee Brody', 'Levy Tran', 'Anna Colwell', 'Viktor Hernandez', 'Steve Coulter', 'Robert Pralgo', 'Antwan Mills', 'J.J. Phillips', 'Jorge Ferragut', 'Sara Sohn', 'Benjamin Blankenship', 'D.J. Hapa', 'T-Pain', 'Brian Mahoney', 'Brittney Alger', 'Romeo Santos', 'Jocelin Donahue', 'Stephanie Langston', 'Jorge-Luis Pallo', 'Tego Calder√≥n', 'Nathalie Kelley', 'Shad Moss', 'Don Omar', 'Klement Tinaj', 'Caleb Walker', 'Cody Walker']

# 2.This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)?

In [24]:
#ROI for movies
imdb_df['ROI']=100*(imdb_df['profit']/imdb_df['budget'])

**we will groupby on original language and find mean Roi**

In [25]:
imdb_new = imdb_df.groupby('original_language')['ROI'].mean().reset_index()
max_roi_lan = imdb_new[imdb_new['ROI']==imdb_new['ROI'].max()]
max_roi_lan

   original_language           ROI
18                ko  11277.949295

# 3.Find out the unique genres of movies in this dataset.

In [26]:
#function to extract genres
def extract1(genres):
  genre_list = []
  for i in genres:
    genre_list.append(i['name'])
  return genre_list

In [27]:
#appling function on genres creating a new column of genre name
imdb_df['genres_name']=imdb_df.apply(lambda x:extract1(x['genres']),axis=1)

In [28]:
imdb_df['genres_name']

0                                 [Comedy]
1         [Comedy, Drama, Family, Romance]
2                                  [Drama]
3                        [Thriller, Drama]
4                       [Action, Thriller]
                       ...
2995                     [Comedy, Romance]
2996                        [Drama, Music]
2997    [Crime, Action, Mystery, Thriller]
2998                     [Comedy, Romance]
2999           [Thriller, Action, Mystery]
Name: genres_name, Length: 3000, dtype: object

In [29]:
#function to extract names from list of genre names
def extract_name_from_list(gen_name):
  for i in gen_name:
    if i in gen_name:
      gen_name = i
  return gen_name

In [30]:
# applied function to extract names from list of genre names
imdb_df['Names'] = imdb_df.apply(lambda x:extract_name_from_list(x['genres_name']),axis = 1).astype(str)

In [31]:
imdb_df['Names']

0         Comedy
1         Comedy
2          Drama
3       Thriller
4         Action
          ...
2995      Comedy
2996       Drama
2997       Crime
2998      Comedy
2999    Thriller
Name: Names, Length: 3000, dtype: object

In [32]:
# unique genre name of movies
set(imdb_df['Names'])

{'Action',
 'Adventure',
 'Animation',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Foreign',
 'History',
 'Horror',
 'Music',
 'Mystery',
 'Romance',
 'Science Fiction',
 'TV Movie',
 'Thriller',
 'War',
 'Western',
 '[]'}

# 4.Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI?

In [33]:
imdb_df['directors_and_producers']

0                          ([Steve Pink], [Andrew Panay])
1       ([Garry Marshall], [Whitney Houston, Mario Isc...
2       ([Damien Chazelle], [David Lancaster, Michel L...
3                          ([Sujoy Ghosh], [Sujoy Ghosh])
4                                  ([Jong-seok Yoon], [])
                              ...
2995               ([Dennis Hopper], [James G. Robinson])
2996                 ([Lukas Moodysson], [Lars J√∂nsson])
2997    ([Renny Harlin], [Stephanie Austin, Shane Blac...
2998    ([John Hamburg], [Danny DeVito, Michael Shambe...
2999    ([John Singleton], [Doug Davison, Roy Lee, Ell...
Name: directors_and_producers, Length: 3000, dtype: object

In [34]:
type(['directors_and_producers'])

list

In [35]:
#function to extract directors
def tuple_to_list_directors(col):
  return col[0]

In [36]:
#function to extract producers
def tuple_to_list_producers(col):
  return col[1]

In [37]:
imdb_df['director'] = imdb_df['directors_and_producers'].apply(tuple_to_list_directors)

In [38]:
imdb_df['producer'] = imdb_df['directors_and_producers'].apply(tuple_to_list_producers)

In [39]:
imdb_df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,crew,revenue,profit,directors_and_producers,actors,ROI,genres_name,Names,director,producer
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,"[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651,-1685349,"([Steve Pink], [Andrew Panay])","[Rob Corddry, Craig Robinson, Clark Duke, Adam...",-12.038207,[Comedy],Comedy,[Steve Pink],[Andrew Panay]
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,"[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435,55149435,"([Garry Marshall], [Whitney Houston, Mario Isc...","[Anne Hathaway, Julie Andrews, H√©ctor Elizond...",137.873588,"[Comedy, Drama, Family, Romance]",Comedy,[Garry Marshall],"[Whitney Houston, Mario Iscovich, Debra Martin..."
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,"[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000,9792000,"([Damien Chazelle], [David Lancaster, Michel L...","[Miles Teller, J.K. Simmons, Melissa Benoist, ...",296.727273,[Drama],Drama,[Damien Chazelle],"[David Lancaster, Michel Litvak, Jason Blum, H..."
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,"[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000,14800000,"([Sujoy Ghosh], [Sujoy Ghosh])","[Vidya Balan, Nawazuddin Siddiqui, Parambrata ...",1233.333333,"[Thriller, Drama]",Thriller,[Sujoy Ghosh],[Sujoy Ghosh]
4,5,NaN,16450000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,"[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970,-12526030,"([Jong-seok Yoon], [])","[Kim Kang-woo, Jo Jae-hyeon, Park Si-yeon, Kim...",-76.146079,"[Action, Thriller]",Action,[Jong-seok Yoon],[]

In [40]:
#creating new dataframe with all producers
df1 = imdb_df.explode('producer')

In [41]:
top_3_producers = df1.groupby('producer')['ROI'].mean().sort_values(ascending = False).iloc[0:3]

In [42]:
top_3_producers

producer
Amir Zbeda     1.288939e+06
Robin Cowie    4.132333e+05
Gregg Hale     4.132333e+05
Name: ROI, dtype: float64

In [43]:
#create new dataframe to extract all actors
df2 = imdb_df.explode('actors')

In [44]:
df2['actors'].value_counts().sort_values(ascending = False)

Robert De Niro       30
Samuel L. Jackson    30
Morgan Freeman       27
Bruce Willis         25
J.K. Simmons         25
                     ..
Bobby Sutton          1
Hillary Tyler         1
Terri Berland         1
Sabrina Geerinckx     1
Derek Burnell         1
Name: actors, Length: 38588, dtype: int64